html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: 1.6rem;
  position: relative;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// VARIABLES
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;

$corner-radius: 8px;

// NOT WORKING
.day-theme {
  background-image: url("../assets/dayBG.jpg");
}

.night-theme {
  background-image: url("../assets/nightBG.jpg")
}

.container {
  padding: $space-l;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: $corner-radius;
  color: white;
}

.header {
  &-wrapper {
    display: flex;
    align-items: center;
    gap: $space-s;
  }

  &-logo {
    width: 30px;
    height: 30px;
    filter: invert(100%);
  }

  &-text {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 3rem;
  }
}